[submodule "ITKQtHelpers"]
	path = ITKQtHelpers
	url = ../ITKQtHelpers.git
[submodule "QtHelpers"]
	path = QtHelpers
	url = ../QtHelpers.git
[submodule "PoissonEditing"]
	path = PoissonEditing
	url = ../PoissonEditing.git
[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = ../CMakeHelpers.git
